@media (max-width: 320px) {
  html div.container.anther {max-width: 300px !important;
    width: 280px !important;
  } 
}

@media (max-width: 400px) {
  html div.container.anther {max-width: 300px !important;
    width: 330px;
  } 
}

@media (max-width: 425px) 
{
  html div.container.anther {max-width: 370px !important;} 

  .fs25{font-size: 20px;}

  .fs40 {
    font-size: 25px;
    text-align: center;
  }

  span.header-middle__sochil--doler {display: none;} /* Header Start */

  .header-middel__logo {padding-inline: 10px;}

  #open-btn {
    position: relative;
    right: 15px;
  }

  .first-loge__text { /* Start section Main */
    top: 0;
    width: 75% !important;
  } 

  .section-one-second__paragraphe {width: 100px;}

  .section-one-first__heading {
    width: auto;
    font-size: 20px;
  }

  .title__text.light {margin-block-start: 0;}

  /* .section-one__first-loge, .section-one__second-loge {height: 250px !important;} */

  .section-two__loge-three,
  .section-two__loge-four,
  .section-two__loge-five {
    height: 150px !important;
  }

  .section-two-first__text {
    bottom: 10px !important;
    font-size: 12px !important; 
    line-height: 20px !important;
  }

  .time-deals__number {flex-direction: column;} /* Start Section Time dealy */

  .free-delivrey__icon.primary-color {padding-inline: 0;}
  
  .grouping-images__group-image:nth-child(2) {
    margin-inline: 0px;
  }

  .abut-page__collection {
    flex-direction: column;
    align-items: center;
  }

  .abut-page__item {padding-block: 5px;}

  .grouping-camera__laptops-three {
    background-size: cover;
    background-position: 0;
  }

  .laptops_logo-one,
  .laptops_logo-two,
  .laptops_logo-three {height: 150px;}

  .laptops-title {
    margin: 0;
    padding-inline: 25px;
    padding-block: 20px;
    line-height: 15px;
    text-align: center;
  }

}

@media  (min-width: 450px) and (max-width: 768px) {
  .card-item { 
    padding-block: 20px;
  }

  .hover-card__icon {
      width: 40%;
  } 
}


@media (max-width: 768px)
{
  div.container.anther {max-width: 500px !important;}

  section.main {flex-direction: column;}

  div.main__navegation {
    width: 100%;
    flex-direction: column;
    margin-block-end: 30px;
  }

  .controle-a {padding-inline: 0;}

  div.mian__groub-images {width: 100% !important;}

  .groub-images__section-one {flex-direction: column;}

  .groub-images__section-two {
    flex-direction: column;
  }

  .controle-a {
    flex-direction: column;
    padding-block: 20px;
  }

  .item-text {
    padding-block-start: 15px;
    padding-inline-start: 0;
}

  .section-one__first-loge , /* Start Section Logo */
  .section-one__second-loge{
  width: 100%;
  height: 400px;
  background-size: 100% 150%;
  }

  .second-loge__text {top: 400px;}

  .section-two-first__text {
    width: 30% !important;
    bottom: 100px;
    font-size: 20px;
    line-height: 30px;
}

  .technical-support { /* Start Technical Support*/
    flex-direction: column;
    line-height: 25px;
  }

  .technical-support__free-delivrey {
      flex-direction: column;
      padding-block-end: 25px;
  }

  .free-delivrey__icon {padding-inline-end: 0;}

  .free-delivrey__text {text-align: center;}

  section.time-deals {flex-direction: column;} /* Start Section Time Dealy */

  .group-products {flex-direction: column;} /* Start Sectiom Prouduct */

  .group-products__card {width: 100%;}

  section.grouping-images { /* Start Section image */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grouping-images__group-image:nth-child(2) {
    margin-block: 15px;
  }

  .grouping-images__group-image {
      width: 100%;
  }

  .group-image__title {bottom: 70px;}

  .grouping-camera__cards {flex-direction: column;}/* Start Croub Cards */

  .title-barnd {text-align: center;} /* Start Section Brandes */

  .brang__logo.light-background {width: 80%;}

  .contact-us__pages { /* Start Sction Counact us */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .span-control {width: auto;}

  .li-control {padding-inline-end: 50%;}

  .contact-us__send-info,.line-footer {display: none;}

  .footer { /* Start Footer */
    line-height: 25px;
    padding-inline: 0;
    flex-direction: column;
  }

}

@media (max-width: 1024px)
{
  div.container {max-width: 950px !important;}

  .header-middle__sochil--round {
    top: 10px;
    margin-inline-start: -1%;
  }

  .header-middle {padding-block: 20px;}

  .header-middel__logo {margin: auto;}

  .header-bottom__contacet-us {display: none;}

  .heart-icon, .sign-in,.header-middle__search,
  .inder-line, .header-top__text,
  .shop__items__image-hover-shop {display: none;}

  .collection__list-anther-hover-list {
    left: 0;
    top: 110px;
    width: 266px;
    color: #fff;
    background: #000;
    padding-block-end: 80px;
  }
  .collection__list-shop-items {
    left: 0;
    top: 208px;
    height: 100vh;
    overflow: auto;
    box-shadow: none;
    width: 100% !important;
    padding-inline-end: 0px;
    color: #fff;
    background: #000;
  }

  .header-bottom__collection-btn {margin-inline-start: 0;}

  .collection__list-blog-items {
    left: 0;
    top: 257px;
    width: 285px;
    line-height: 30px;
    padding-inline-start: 50px;
    color: #fff;
    background: #000;
    }

  .padding-item {
    padding-block-end: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-bottom__item {
    width: 88%;
    margin-block: 5px;
    padding-inline-start: 30px;
    border-bottom: 1px solid #999;
  }

  .header-bottom__collection-list {
    width: 300px;
    height: 100vh;
    z-index: 999;
    overflow:auto;
    position: fixed;
    top: 0;
    left: -310px;
    line-height: 37px;
    background: #000;
    margin-block-start: 0;
    flex-direction: column;
    padding-block-start: 70px;
  }

  #open-btn {
    color: #FFF;
    display: block;
  }

  #close-btn {
    color: #FFF;
    position: absolute;
    top: 30px;
    left: 270px;
    display: block;
    font-size: 25px;
    z-index: 99999;
  }

  .header__ul {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
  }

  .ul__collection-fixed {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    margin-block: 10px;
  }
  
  .item__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .link__icon{font-size: 25px;}


  /* Strat Main Section */

  .first-loge__text {width: 36%;}

  .section-one-second__heading {width: 150px;}

  .section-two-first__text {width: 15%;}

  .mian__groub-images {width: 65% !important;}

  .main__navegation {width: 30%;}

  section.electronic {flex-direction: column;}

  .electronic__grouping-camera {max-width: 100%;}

  .electronic__mobiles {width: 100%;    padding-inline: 0;}

  .brang__logo.light-background {padding-inline: 8px;}

  .electronic__mobiles-headding,
  .electronic__mobiles-list
  {
      padding-inline-start: 20px;
  }


  div.group-image__title {width: 75%;} /* Groube image */

  /* Start Footer */
  .footer {
    padding-block-end: 100px;
    padding-block-start: 30px;
  }

}

@media (max-width: 1200px)
{
  .container {max-width: 1100px !important;}

  .group-image__title {width: 40%;} /* Groub image */

  /* .hover-listes {width: 150px;} */

  /* .collection__list-shop-items {width: 50%;} */

  /* .mian__groub-images {width: auto;} */

  /* .logo-one, .logo-two, .logo-three {height: 50%;} */

  /* .hover-card__icon {bottom: 125px;} */

  /* .grouping-camera__laptops-three {height: 250px;}   */

  /* .brang__logo {
    width: 18%;
    padding-inline: 10px;
} */

  /* .list-item {line-height: 0;} */

}

@media (max-width: 1440px) 
{
  .container {max-width: 1300px;}

  .brang__logo{width: 18%;}

  /* .section-one__first-loge:hover ,
  .section-one__second-loge:hover {
    background-size: 100% 100%;
    background-position: 100% 100%;
  }
  .section-two__loge-three:hover,
  .section-two__loge-four:hover,
  .section-two__loge-five:hover {
    background-size: 110% 110%;
    background-position: 100% 100%;
  }

  .logo-one:hover, .logo-two:hover, .logo-three:hover{
    background-size: 100% 100%;
    background-position: 100% 100%;
  }

  .grouping-camera__laptops-one:hover,
   .grouping-camera__laptops-two:hover,
   .grouping-camera__laptops-three:hover {
    background-size: 100% 100%;
    background-position: 100% 100%;
  } */
}